# Project-specific
.wavs-data/
.build-artifacts/

# Rust
target/

# Solidity
out/
cache/
broadcast/

# Node
node_modules/

# Secrets
.env

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Temporary files
*.swp
*.swo
*.tmp
*.temp
*.orig
